<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>Admin | Alfacamp.ml</title>
    <link href = "img/admin.png" rel="icon">
	<link rel="stylesheet" href="/css/style_admin.css" type="text/css" media="all" />
</head>
<body>
<!-- Header -->
<div id="header">
	<div class="shell">
		<!-- Logo + Top Nav -->
		<div id="top">
            <h1><a href="/admin">Admin</a> | <a href="/">Alfacamp.ml</a></h1>
			<div id="top-navigation">
				Welcome <a href="/admin"><strong>Administrator</strong></a>
				<span>|</span>
				<a href="/admin/logout">Log out</a>
			</div>
		</div>
		<!-- End Logo + Top Nav -->
		
		<!-- Main Nav -->
		<div id="navigation">
			<ul>
			    <li><a href="/admin" class="active"><span>Subjects</span></a></li>
			    <li><a href="/admin/topic"><span>Topics</span></a></li>
			</ul>
		</div>
		<!-- End Main Nav -->
	</div>
</div>
<!-- End Header -->

<!-- Container -->
<div id="container">
	<div class="shell">
		<!-- Message OK -->		
		<div class="msg msg-ok">
			<p><strong>Your file was uploaded succesifully!</strong></p>
			<a class="close">close</a>
		</div>
		<!-- End Message OK -->		
		
		<!-- Message Error -->
		<div class="msg msg-error">
			<p><strong>You must select a file to upload first!</strong></p>
			<a class="close">close</a>
		</div>
		<!-- End Message Error -->
		<br />
		<!-- Main -->
		<div id="main">
			<div class="cl">&nbsp;</div>
			
			<!-- Content -->
			<div id="content">
				
				<!-- Box -->
				<div class="box">
					<!-- Box Head -->
					<div class="box-head">
						<h2 class="left">Subjects</h2>
					</div>
					<!-- End Box Head -->	

					<!-- Table -->
					<div class="table">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<th>Title</th>
								<!--<th>Date</th>-->
								<!--<th>Added by</th>-->
								<th width="110" class="ac">Content Control</th>
							</tr>
                        {{# each subject}}
							<tr>
								<td><h3><a href="/admin/subject/{{this._id}}">{{this.name}}</a></h3></td>
								<td><a href="/admin/subject/{{this._id}}/del" class="ico del">Delete</a><a href="/admin/subject/{{this._id}}" class="ico edit">Edit</a></td>
							</tr>
                        {{/each}}
						</table>
					</div>
					<!-- Table -->
					
				</div>
				<!-- End Box -->


			</div>
			<!-- End Content -->

			<!-- Sidebar -->
			<div id="sidebar">

                <!-- Box -->
                <div class="box">
                    <!-- Box Head -->
                    <div class="box-head">
                        <h2>Add New Subject</h2>
                    </div>
                    <!-- End Box Head -->

                    <form action="/admin/subject" method="post">

                        <!-- Form -->
                        <div class="form">
                            <p>
                                <label>Subject Name</label>
                                <input type="text" name="name" class="field size1" style="width: 90%"/>
                            </p>
                        </div>
                        <!-- End Form -->

                        <!-- Form Buttons -->
                        <div class="buttons">
                            <!--<input type="button" class="button" value="preview" />-->
                            <input type="submit" class="button" value="Add" type="submit" />
                        </div>
                        <!-- End Form Buttons -->
                    </form>
                </div>
                <!-- End Box -->
			</div>
			<!-- End Sidebar -->

			<div class="cl">&nbsp;</div>			
		</div>
		<!-- Main -->
	</div>
</div>
<!-- End Container -->
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/admin.js"></script>
</body>
</html>