<div class="main">
	<img src="/img/alphacamp.png" class="logo little">
	<div class="form">
		<form action="/admin/login" method="post">
            <p style="color: red">{{msg}}</p>
			<input type="text" name="email" class="inputs" placeholder="email"><br>
			<input type="password" name="password" class="inputs" placeholder="password"><br>
			<input type="submit" name="" value="Sign in" class="log_button">
		</form>
	</div>
</div>