<html>
<head></head>
<body>
<form method="post" action="/admin/multer" enctype="multipart/form-data">
    <input type="file" accept="image/*" name="myimage">
    <input type="submit">
</form>
</body>
</html>